<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="b7c67235-6e84-4f44-887f-60c1fe97121d" Publisher="CN=leefsmp" Version="1.0.0.0" />
  <Properties>
    <DisplayName>AdnCloudViewer</DisplayName>
    <PublisherDisplayName>leefsmp</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="AdnCloudViewer.App">
      <VisualElements DisplayName="ADN Cloud Viewer" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="ADN Cloud Viewer App for WinRT, by Philippe Leefsma" ForegroundText="dark" BackgroundColor="#FFFFFF">
        <DefaultTile ShowName="allLogos" ShortName="ADN Cloud Viewer" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#FFFFFF" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>